.headerFootCSS {
  background-image: url("https://wallpapersmug.com/download/1920x1080/4d7d03/light-colors-geometric-pattern-abstract.jpg");
}

a {
  text-decoration: none;
  color: #bad8ff;
}

a:hover {
  text-decoration: underline;
  color: #bad8ff;
}

body {

  /*background-image: url("https://wallpaperaccess.com/full/547232.jpg");*/
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.cardCSS {
  background-image: url("https://armourroofinc.com/_images/thunder-1900.gif");
}

.cardCSS:hover {
  transform: scale(1.1);
  background-image: url("https://images.unsplash.com/photo-1607513746994-51f730a44832?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}

.animate-fading {
  width: 100%;
  animation: fading 9s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 43px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #46e7a7;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.formCSS {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.modalCSS {
  background-image: url("https://images.unsplash.com/photo-1607513746994-51f730a44832?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
