<h2>Progress Bar</h2>

<div class="progress-bar-container" [style.backgroundColor]="backgroundColor">
  <div class="progress" [ngStyle]="{
  backgroundColor: progressColor,
  width: progress + '%'
  }"></div>
</div>

<div class="stars">
  <form action="">
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div>

<script>
  var timeoutID;

  function delayedAlert() {
    timeoutID = setTimeout(showAlert, 3000);
  }

  function showAlert() {
    alert('Hàm setTimeout() được thực thi.');
  }

  function clearAlert() {
    clearTimeout(timeoutID);
  }
</script>

<button onclick="delayedAlert();">Hiển thị thông báo sau 3s</button>
<button onclick="clearAlert();">Xóa thực thi hàm setTimeout</button>
