<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Tên:</td>
      <td><input type="text" formControlName="name">
        </td>
    </tr>
    <tr>
      <td>Năm sinh:</td>
      <td><input type="date" formControlName="dateOfBirth">
      </td>
    </tr>
    <tr>
      <td>Điện thoại:</td>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td>Địa chỉ:</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td>Điện thoại</td>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td>Điện thoại</td>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td>Điện thoại</td>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td>Thể loại</td>
      <select formControlName="category">
        <option [ngValue]="temp" *ngFor="let temp of categorys" >{{temp.name}}</option>
      </select>
    </tr>
    <tr>
      <td></td>
      <td><button>Tạo mới</button></td>
    </tr>
  </table>
</form>
