.text-name{

  font-size: 50px;
  margin-left: 40%;
  padding-top: 40px;
  color: greenyellow;
}
th{
  font-family: Tahoma;
  font-size: 20px;
}
td{
  font-size: 15px;
  color: seagreen;

}
table{
  width: 100%;
  height: auto;
}
