<footer class="text-center text-dark headerFootCSS" style="background-color: #caced1;">
  <div class="container p-4 pb-0">
    <section>
      <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#" role="button">
        <i class="fab fa-facebook-f"></i></a>

      <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#" role="button">
        <i class="fab fa-twitter"></i></a>

      <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#" role="button">
        <i class="fab fa-google"></i></a>

      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#" role="button">
        <i class="fab fa-instagram"></i></a>

      <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#" role="button">
        <i class="fab fa-linkedin-in"></i></a>

      <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#" role="button">
        <i class="fab fa-github"></i></a>
    </section>
  </div>

  <div class="container p-4">
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" alt="" class="w-100"/>
            <a href="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <strong class="pt-2">&copy;FURAMA - chính thức hoạt động từ năm 1997.</strong>
  </div>
</footer>
