/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
  color: #bad8ff;
}

a:hover {
  text-decoration: underline;
  color: #bad8ff;
}

body {
  background-image: url("https://cutewallpaper.org/27/black-wallpaper-iphone-gif/pin-on-things.gif");
}

.formCSS {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.modalCSS {
  background-image: url("https://images.unsplash.com/photo-1607513746994-51f730a44832?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
