
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid mx-5">
    <a class="navbar-brand font-weight-bold" routerLink="">
      <i class="fa-solid fa-house-chimney h5 mx-1"></i> Trang chủ
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Khách Hàng</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Danh sách Khách Hàng</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/create">Thêm Khánh Hàng</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Danh Mục</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/category/list">Loại Sổ Tiết Kiệm</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/category/create">Thêm Loại Sổ Tiết Kiệm</a></li>
          </ul>
        </li>

<!--        <li class="nav-item dropdown ms-3">-->
<!--          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"-->
<!--             aria-expanded="false">Dịch vụ</a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" routerLink="/facility">Danh sách dịch vụ</a></li>-->
<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->
<!--            <li><a class="dropdown-item" routerLink="/facility/create">Thêm dịch vụ mới</a></li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li class="nav-item dropdown ms-3">-->
<!--          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"-->
<!--             aria-expanded="false">Hợp đồng</a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" routerLink="/contract">Danh sách hợp đồng</a></li>-->
<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->
<!--            <li><a class="dropdown-item" routerLink="/contract/create">Thêm hợp đồng mới</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
