<div class="customer-body">
  <div class="container-fluid" style="width: 50% ">

    <div class="side-bar-block booking-form-block">
      <div class="booking-form" >
        <h3 class="text-name"><b>Create Customer</b></h3>
        <form>
          <div class="form-group-lg">
            <input type="text" class="form-control" placeholder="Name" required/>
          </div>

          <div class="form-group-lg">
            <input type="date" class="form-control" placeholder="BirthDay" required/>
          </div>

          <div class="form-group-lg">
            <input type="number" class="form-control" placeholder="Gender" required/>
          </div>

          <div class="form-group-lg">
            <input type="number" class="form-control" placeholder="Id Card" required/>
          </div>

          <div class="form-group-lg">
            <input type="number" class="form-control" placeholder="Phone" required/>
          </div>
          <div class="form-group-lg">
            <input type="text" class="form-control" placeholder="Email" required/>
          </div>

          <div class="form-group-lg">
            <input type="text" class="form-control" placeholder="Address" required/>
          </div>

          <div class="form-group-lg">
            <select class="form-control">
              <option selected>Customer Type</option>
              <option>Diamond</option>
              <option>Platinium</option>
              <option>Gold</option>
              <option>Silver</option>
              <option>Member</option>
            </select>
          </div>

          <button class="btn btn-info" style="margin-left:40% ;margin-bottom: 20px;height: 40px;width: 100px">Create</button>
        </form>

      </div><!-- end booking-form -->
    </div><!-- end side-bar-block -->

  </div>
</div>
