<!--<h3 *ngIf="mess !== '' ">{{mess}}</h3>-->
<div class="p-3 px-5">
  <h1 style="text-align: center">Danh Sách Khách Hàng</h1>
  <!--  <button routerLink="/create" class="btn btn-info">Tạo mới khách hàng</button>-->
  <div class="d-flex my-2" role="search">
    <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
           [(ngModel)]="customerBankNameSearch">
    <!--    <input class="form-control me-2" type="text" placeholder="Nhập giá.." aria-label="Search"-->
    <!--           [(ngModel)]="categorySearch">-->

    <select class="form-control me-2" [(ngModel)]="bankBookSearch" [compareWith]="compareWithId">
      <option value="{{bankBookSearch}}" disabled>Danh mục..</option>
      <option *ngFor="let item of bankPassBookList" [ngValue]="item">{{item.name}}</option>
    </select>
    <button class="btn btn-light btn-outline-warning me-2" (click)="resetSearchInput()">
      <i class="fa-solid fa-xmark"></i></button>
    <button class="btn btn-light btn-outline-primary" (click)="searchByMore()">
      <i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <table class="table table-success table-striped">
    <thead>
    <tr>
      <th>Mã Số Sổ TK</th>
      <th>Mã Khách Hàng</th>
      <th>Tên Khách Hàng</th>
      <th>Ngày Mở</th>
      <th>Thời Gian Gửi</th>
      <th>Kỳ Hạn</th>
      <th>Số Tiền Gửi(VNĐ)</th>
      <th>Lãi Suất</th>
      <th>Ưu Đãi</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cbp of customerBankList; index as i">
      <!--      <td>{{i + 1 + (curPage - 1) * numberRecord}}</td>-->
      <td>{{cbp.bankPassBook.name}}</td>
      <td>0{{cbp.id}}</td>
      <td>
        <a routerLink="/edit/{{cbp.id}}" href="#">{{cbp.name}}</a>
      </td>
      <td>{{cbp.startDay}}</td>
      <td>{{cbp.sentDay}}</td>
      <td>{{cbp.period}} tháng</td>
      <td>{{cbp.money | currency: ''}}</td>
      <td>{{cbp.interestRate}} %/năm</td>
      <td>{{cbp.endow}}</td>
      <td>{{cbp.bankPassBook.name}}</td>
      <!--      <td>-->
      <!--        <button routerLink="/edit/{{product.id}}" class="btn btn-info">Edit</button>-->
      <!--      </td>-->
      <!--   <td><a routerLink="/product/delete/{{product.id}}">Delete</a></td>-->
      <td>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#deleleProduct"
                (click)="getInfoDelete(cbp.name, cbp.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
    <div class="modal fade" id="deleleProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có muốn xóa ?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span class="h6">Mã khách hàng :</span><strong class="text-danger ps-2">{{customerIdDelete}}</strong>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="delete()" data-bs-dismiss="modal">Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </table>

  <nav aria-label="..." class="justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage <= 1">
        <a class="page-link">&laquo;</a>
      </li>

      <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>
      </li>

      <li class="page-item">
        <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage >= totalPage">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>




