<div class="font-body">
  <div class="container-fluid" style="width: 50% ">

    <div class="side-bar-block booking-form-block">
      <div class="booking-form">
        <h3 class="text-name"><b>Update Service</b></h3>
        <form>
          <div class="form-group-lg">
            <input type="text" class="form-control" placeholder="Service Name" required/>
          </div>

          <div class="form-group-lg m-3">
            <input type="number" class="form-control" placeholder="Area" required/>
          </div>

          <div class="form-group-lg m-3">
            <input type="number" class="form-control" placeholder="Cost" required/>
          </div>

          <div class="form-group-lg m-3">
            <input type="number" class="form-control" placeholder="Max People" required/>
          </div>

          <div class="form-group-lg m-3">
            <input type="number" class="form-control" placeholder="Floors" required/>
          </div>
          <div class="form-group-lg m-3">
            <input type="text" class="form-control" placeholder="Standard Room" required/>
          </div>

          <div class="form-group-lg m-3">
            <input type="text" class="form-control" placeholder="Description Other" required/>
          </div>

          <div class="form-group-lg m-3">
            <select class="form-control">
              <option selected>Service Type</option>
              <option>Villa</option>
              <option>House</option>
              <option>Room</option>
            </select>
          </div>

          <div class="form-group-lg m-3">
            <select class="form-control">
              <option selected>Rent Type</option>
              <option>Hour</option>
              <option>Day</option>
              <option>Month</option>
              <option>Year</option>
            </select>
          </div>

          <button class="btn btn-info" style="margin-left:40% ;margin-bottom: 20px;height: 40px;width: 100px">Update</button>
        </form>

      </div><!-- end booking-form -->
    </div><!-- end side-bar-block -->

  </div>
</div>
