<div class="p-3 px-5">
  <h1>Danh Mục sản phẩm</h1>
  <a routerLink="/category/create">Thêm Danh Mục</a>
  <table class="table table-success table-striped">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th colspan="2px"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cate of categorys; index as i">
      <td>{{i + 1}}</td>
      <td>{{cate.name}}</td>
      <td><a routerLink="/category/edit/{{cate.id}}">Edit</a></td>
      <td><a routerLink="/category/delete/{{cate.id}}">Delete</a></td>
    </tr>
    </tbody>

  </table>
</div>

