<div class="mx-5 px-5 pt-3 pb-5">
  <h2 class="text-center fw-bold">THÊM MỚI KHÁCH HÀNG</h2>

  <p class="text-center">
    <a routerLink=""><i class="fa-solid fa-backward"></i> Quay lại trang danh sách</a>
  </p>

  <form [formGroup]="productForm" (ngSubmit)="submit()">
    <table>
      <tr>
        <td>Tên sản phẩm:</td>
        <td><input type="text" formControlName="name">
          <div class="alert alert-danger" role="alert"
               *ngIf="productForm.controls.name.hasError('pattern') &&
                      productForm.controls.name.touched">
            Viết hoa chữ cái đầu
          </div></td>
      </tr>
      <tr>
        <td>Giá sản phẩm</td>
        <td><input type="number" formControlName="price">
          <div class="alert alert-danger" role="alert"
               *ngIf="productForm.controls.price.hasError('pattern') &&
                      productForm.controls.price.touched">
            Gia là số nguyên dương!
          </div>
        </td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm</td>
        <td><input type="text" formControlName="description"></td>
      </tr>
      <tr>
        <td>Thể loại</td>
        <select formControlName="category">
          <option [ngValue]="temp" *ngFor="let temp of categoryList" >{{temp.name}}</option>
        </select>
      </tr>
      <tr>
        <td></td>
        <td><button>Tạo mới</button></td>
      </tr>
    </table>
  </form>
</div>
