#content {
  background-image: url("D:/C0522G1_BuiHung_Module6/my-technology/C0522G1.png");
  width: 350px;
  height: 500px;
  color: black;
  /*line-height: 200px;*/
  /*text-align: center;*/
  /*text-decoration: underline;*/
}
