.text-name{
  font-size: 45px;
  margin-left: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: greenyellow;
}
table{
  margin: auto;
  width: 80%;
}
.form-group-lg{
  padding-bottom: 10px;
}
.customer-body{
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0));
}
